/* Aqui va el estilo de todas las paginas */
body
{
    width: 600px;
    height: 750px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    background-size: 1600px 700px;
    background-color: rgb(167, 166, 235);
}

section
{
    width: 600px;
    height: 550px;
    display: inline-flex;
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
section:before
{
    content: "";
    width: 600px;
    height: 550px;
    background-color: rgb(177, 173, 173);
    position: absolute;
    opacity: 0.7;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}
.derecha
{
    width: 50%;
    height: 400px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
}

.izquierda
{
    width: 50%;
    height: 400px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
}
header
{
    width: auto;
    height: auto;
    margin: auto;
    padding: 10px;
    font-size: x-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: aquamarine;
    justify-items: center;
    background-color: rgb(48, 48, 133);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url(logo.png);
    background-position: top right;
    background-size: 100px 100px;
    background-repeat: no-repeat;
}
.menu
{
    width: 75%;
    height: 100px;
    background-color: rgb(223, 225, 238);
    padding: 10px;
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px;
    justify-content: center;
    image-orientation:from-image;
    margin-top: 20px;
    margin-left:30px;
    position: relative;
}

nav
{
    border-top-left-radius: 20px;
    font-size: x-large;
}

article
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 15px;
}



.logueo
{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative; 
    justify-content: center; 
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.registro
{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 20px;
    margin-top: 20px;
    position: relative; 
    justify-content: center; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/*plaforma.html */
#icono
{
    border: 1px solid black;
    border-radius: 10px;
    font-size: small;
    margin: 10px;
    background-color: rgb(223, 225, 238);
    -moz-box-shadow:10px 10px 5px #000000;
    -webkit-box-shadow:10px 10px 5px #000000;
    box-shadow:10px 10px 5px #000000;
    background:-webkit-gradient(radial, 165 0, 0, 49 -357, 563, from(#0060A1), to(#157028))
}

figcaption
{
    color: rgb(233, 189, 15);
    text-decoration: none;
}

/* menu de navegacion que muestra la informacion de cada aplicacion */

.botonera 
{
	width:95%;
	height:auto;
    font-size:small;
}

a
{
	text-decoration:none;
}

.botoneral ul 
{
    width: auto;
	margin:0;
	padding:0;
    list-style-type:none;
    text-decoration:none;
}
	


.botonera ul li 
{
	display: inline-flexbox;
}


.botonera ul li a 
{
	color:#333;
	text-decoration:none;
	width: 90%;
	height: auto;
	line-height: 30px;
	
}
	
.botonera ul li a:hover 
{
	background-color:#eceb82;
}

/*estilo de tablas */
thead
{
    background-color: aquamarine;

}

tbody
{
    background-color: rgb(150, 228, 238);
}


button
{
    width:95%;
	height:auto;
    font-size:small;
    margin:0;
	padding:0;
    list-style-type:none;
    text-decoration:none;
    background-color:aquamarine;
}

button:hover {
    background: #2079b0;
    text-decoration: none;
}git@github.com:PPROF1-2021/g6-aula3grupo6.git